# Backend
FLASK_SECRET_KEY=your-flask-secret-key-here
JWT_SECRET_KEY=your-jwt-secret-key-here
DATABASE_URL=sqlite:///app.db
FRONTEND_URL=http://localhost:5173
STRIPE_SECRET_KEY=sk_test_key
STRIPE_CURRENCY=eur

# Frontend
VITE_API_URL=http://localhost:8081
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_publishable_key
